@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

* {
  -webkit-touch-callout: none !important; /* iOS Safari */
  -webkit-user-select: none !important; /* Safari */
  -khtml-user-select: none !important; /* Konqueror HTML */
  -moz-user-select: none !important; /* Old versions of Firefox */
  -ms-user-select: none !important; /* Internet Explorer/Edge */
  user-select: none !important; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  -webkit-tap-highlight-color: transparent !important; /* Remove tap highlight on iOS */
}

body {
  touch-action: none; /* Prevent browser handling of gestures like pinch-zoom */
  overflow: hidden; /* Prevent scrolling */
}
